<h2 class="home_heading">And so it begins...</h2>
<p>This website is very much a work in progress. I don't know exactly what will be its outcome, but I'm using it as a
  learning experience for Ruby on Rails and the Ruby language!</p>